{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
{% include 'mainapp/includes/inc_header.html' %}


<section id="home" class="home bg-black fix" xmlns="http://www.w3.org/1999/html">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="main_home">
                <div class="col-md-12">
                    <div class="hello_slid">
                        <div class="slid_item xs-text-center"></div>
                        <div class="col-sm-7" style="background-color: white; border: 3px solid #808080; border-radius: 25px;
                                        margin-bottom: 70px">

                    {% if form.errors %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert"
                             style="margin-top: 50px;">
                            {{ form.errors }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                    {% endif %}

                            <div class="card shadow-lg border-0 rounded-lg mt-5"
                                 style="padding-left:30px; padding-right: 30px;">
                                <div class="card-header" style="padding-top: 40px; padding-bottom: 30px;"><h2
                                        class="text-center font-weight-light my-4">
                                    Новое объявление</h2>
                                </div>
                                <div class="card-body">

                                    <form action="{% url 'create:main' %}" method="post"
                                          enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label class="small mb-20" for="{{ form.name.id_for_label }}">Название
                                                помещения</label>
                                            {{ form.name }}
                                        </div>
                                        <!--                                        <div class="col-md-30">  -->
                                        <div class="form-group">
                                            <label class="small mb-20" for="{{ form.square.id_for_label }}">Площадь
                                                помещения</label>
                                            {{ form.square }}
                                        </div>
                                        <!--                                        <div class="col-md-30">   -->
                                        <div class="form-group">
                                            <label class="small mb-20" for="{{ form.description.id_for_label }}">Описание</label>
                                            {{ form.description }}
                                        </div>
                                        <!--                                        <div class="col-md-30">   -->
                                        <div class="form-group">
                                            <label class="small mb-20" for="{{ form.payment_per_hour.id_for_label }}">Цена
                                                в час</label>
                                            {{ form.payment_per_hour }}
                                        </div>
                                            <div class="form-group">
                                                <label class="small mb-20" for="{{ form.category.id_for_label }}">Категория</label>
                                                {{ form.category }}
                                            </div>
                                        <div class="form-group">
                                            <label class="small mb-20" for="{{ form.phone_number.id_for_label }}">Номер телефона</label>
                                            {{ form.phone_number }}
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label class="small mb-20"
                                                      for="{{ form.image.id_for_label }}">Фото</label>
                                                {{ form.image }}
                                            </div>

                                            <div style="width: 100%; padding-bottom: 15px">
                                                <label for="{{ form.address.id_for_label }}">Адрес</label>
                                                {{ form.address }}
                                                <p id="address-notice" class="error-msg" style="display: none;">Адрес не найден</p>
                                            </div>

                                            <div id="map" class="map"></div>
                                            <script src="https://api-maps.yandex.ru/2.1?apikey=fe838c94-89e2-4657-a2ef-061f23ff1a53&lang=ru_RU"
                                                 type="text/javascript">
                                            </script>
                                            <script src="{% static 'mainapp/assets/js/script.js' %}"></script>

                                            <button class="btn btn-primary"
                                                  style="margin-top:30px; margin-bottom:30px;"
                                                  type="submit" onclick="onNewAd(event)">Разместить
                                            </button>
                                    </form>
                                </div>
                            </div>
                        </div><!-- End off slid item -->

                    </div>
                </div>
            </div>
        </div>
        <!--End off row-->
    </div>
    <!--End off container -->
</section>
<!--product section-->
<!--Team section-->
{% include 'mainapp/includes/inc_footer.html' %}

{% endblock %}
<!-- JS includes -->
{% block js %}

{% include 'mainapp/includes/inc_js.html' %}

{% endblock %}