<aside id="sidebar" class="sidebar">
    <!---->
    <ul class="sidebar-nav" id="sidebar-nav">
    </ul>
    <!--    <div class="sidebar">-->

    <!-- Multi Columns Form -->
    <form class="row g-3 search-form d-flex align-items-center" id="searchForm" method="GET"
          action="{% url 'offers:search_results' %}">
        <div class="col-md-12">
            <legend class="col-form-label col-sm-2 pt-0">
                <strong>Рейтинг: </strong>
            </legend>
        </div>
        <div class="col-md-12">
            <output>{{ rating|default:'0' }}</output>
            <input name="rating"
                   type="range"
                   class="form-range"
                   id="rating"
                   min="0" max="10"
                   value="{{ rating|default:'0' }}"

                   oninput="this.previousElementSibling.value = this.value"
            >
        </div>
        <!--        <div class="col-md-12 hidden">-->
        <!--            <legend class="col-form-label col-sm-2 pt-0"><strong>Адрес</strong></legend>-->
        <!--            <div class="col-md-12">-->
        <!--                <input type="hidden" name="City" placeholder="Город" class="hidden"-->
        <!--                       value="{{ city|default:'' }}">-->
        <!--            </div>-->
        <!--        </div>-->

        <!--             <div class="col-md-12">-->
        <!--                <legend class="col-form-label col-sm-2 pt-0"><strong>Дата</strong></legend>-->
        <!--                <div class="col-md-12">-->
        <!--                  <input type="date" name="Date" placeholder="Дата" class="form-control">-->
        <!--                </div>-->
        <!--              </div>-->

        <div class="col-md-12">
            <legend class="col-form-label col-sm-2 pt-0"><strong>Цена&nbspза&nbspчас&nbspаренды</strong></legend>
        </div>
        <div class="col-md-6">
                <span class="range-number-item range-number-min">
                <input name="min_price" type="number" min="0" step="1" placeholder="0"
                       value="{{ min_price|default:'' }}"
                       class="form-control" id="MinPrice">
                </span>
        </div>
        <div class="col-md-6">
                <span class="range-number-item range-number-max">
                <input name="max_price" type="number" min="0" step="1" placeholder="20&nbsp;000+"
                       value="{{ max_price | default:'' }}"
                       class="form-control" id="MaxPrice">
                </span>
        </div>

        <div class="col-md-12">
            <legend class="col-form-label col-sm-2 pt-0"><strong>Предлагаемые&nbspудобства</strong></legend>

            <!--            {% if forloop.counter0 > 5 %}collapse{% endif %}-->
            <div class="col-sm-10">
                {% for conv in conveniences_list %}
                <div class="{% if forloop.counter0 < 4 %}form-check
                            {% else %}form-check collapse{% endif %}"
                     id="{% if forloop.counter0 < 4 %}conv
                            {% else %}conv_collapse{% endif %}">

                    <input class="form-check-input"
                           type="checkbox"
                           id="{{ conv.name }}"
                           name="{{ conv.name }}"
                           {% if conv.name in request.GET.keys %}
                           checked
                           {% endif %}>
                    <!--{% if conv.id|stringformat:'i' in request.GET.keys %}-->
                    <!--                             checked-->
                    <!--                            {% endif %} >-->
                    <label class="form-check-label" for="{{ conv.name }}">
                        <span>{{ conv.name }}</span>
                    </label>
                </div>
                {% endfor %}
                <a data-bs-toggle="collapse" href="#conv_collapse" role="button" aria-expanded="false"
                   aria-controls="conv_collapse" class="collapsed">
                    Показать ещё <span id="collapse_conv_count"></span>
                </a>
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Поиск</button>
            <button type="reset" onclick="clearForm(this.form);" class="btn btn-secondary reset-btn">Сбросить</button>
        </div>
    </form><!-- End Multi Columns Form -->
    <!--        </div>-->
    <!---->
</aside>