{% load static %}
<footer id="contact" class="footer action-lage bg-black p-top-80">
        <!--<div class="action-lage"></div>-->
        <div class="container" style="display: flex;">
            <div class="row">
                <div class="widget_area" style="display: flex;justify-content: space-between;">
                    <div class="col-md-3">
                        <div class="widget_item widget_about">
                            <h5 class="text-white">О нас</h5>
                            <p class="m-top-20">"ЛОКАЦИЯ" - сервис поиска помещений для коворкинга.
                                С нами вы легко сможете найти подходящее место для проведения рабочего дня, а также
                            разместить своё собственное объявление и предоставить ваше помещение для коворкинга.</p>
                            <div class="widget_ab_item m-top-30">
                                <div class="item_icon"><i class="fa fa-location-arrow"></i></div>
                                <div class="widget_ab_item_text">
                                    <h6 class="text-white">Адрес офиса</h6>
                                    <p>{{contact_data.first_address}}</p>
                                    <p>{{contact_data.second_address}}</p>
                                </div>
                            </div>
                            <div class="widget_ab_item m-top-30">
                                <div class="item_icon"><i class="fa fa-phone"></i></div>
                                <div class="widget_ab_item_text">
                                    <h6 class="text-white">Телефон :</h6>
                                    <p>{{contact_data.first_phone}}</p>
                                    <p>{{contact_data.second_phone}}</p>
                                </div>
                            </div>
                            <div class="widget_ab_item m-top-30">
                                <div class="item_icon"><i class="fa fa-envelope-o"></i></div>
                                <div class="widget_ab_item_text">
                                    <h6 class="text-white">Email Address :</h6>
                                    <p>{{contact_data.first_mail}}</p>
                                    <p>{{contact_data.second_mail}}</p>
                                </div>
                            </div>
                        </div><!-- End off widget item -->
                    </div>

                    <div class="col-md-3" style="display: flex;justify-content: space-around;width: 100%;">
                        <div class="widget_item widget_service sm-m-top-50">
                            <h5 class="text-white">Арендодателям</h5>
                            <ul class="m-top-10">
                                <li class="m-top-20"><a href="{% url 'user:profile' %}"><i class="fa fa-angle-right"></i> Личный кабинет</a></li>
                                <li class="m-top-20"><a href="{% url 'feedback:main' %}"><i class="fa fa-angle-right"></i> Обратная связь</a></li>
                                {% for question in for_landlords %}
                                  <li class="m-top-20">
                                      <a href="{{ question.get_absolute_url }}">
                                          <i class="fa fa-angle-right"></i>{{ question.name }}
                                      </a>
                                  </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="widget_item widget_service sm-m-top-50">
                            <h5 class="text-white">Пользователям</h5>
                            <ul class="m-top-10">
                                <li class="m-top-20"><a href="{% url 'user:profile' %}"><i class="fa fa-angle-right"></i> Личный кабинет</a></li>
                                <li class="m-top-20"><a href="{% url 'feedback:main' %}"><i class="fa fa-angle-right"></i> Обратная связь</a></li>
                                {% for question in for_users %}
                                  <li class="m-top-20">
                                      <a href="{{ question.get_absolute_url }}">
                                          <i class="fa fa-angle-right"></i>{{ question.name }}
                                      </a>
                                  </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="widget_item widget_newsletter sm-m-top-50">
                            <div class="widget_brand m-top-40">
                                <a href="" class="text-uppercase">ЛОКАЦИЯ</a>
                                <p>Удобный и быстрый поиск помещений для коворкинга.</p>
                            </div>
<!--                            <ul class="list-inline m-top-30">-->
<!--                                <li>- <a href=""><i class="fa fa-facebook"></i></a></li>-->
<!--                                <li><a href=""><i class="fa fa-twitter"></i></a></li>-->
<!--                                <li><a href=""><i class="fa fa-linkedin"></i></a></li>-->
<!--                                <li><a href=""><i class="fa fa-google-plus"></i></a></li>-->
<!--                                <li><a href=""><i class="fa fa-behance"></i></a></li>-->
<!--                                <li><a href=""><i class="fa fa-dribbble"></i></a> - </li>-->
<!--                            </ul>-->

                        </div><!-- End off widget item -->
                    </div>
                </div>
            </div>
        </div>
    </footer>