{% load static %}
{% include 'mainapp/includes/inc_yandex_map.html' %}
<script src="{% static 'mainapp/assets/js/ymaps_init_script.js' %}" type="text/javascript"></script>
<section id="Search" class="search bg-blue search_test">
    <div class="search_overlay"></div>
    <div class="container">
        <div class="main-block">
            <h1 class="text-uppercase text-white">
                Бронируем офисы для работы
            </h1>
            <h3 class="text-white">Найдите свой вариант для комфортной работы</h3>
                <form class=""
                      method="GET"
                      action="{% url 'offers:search_results' %}"
                      novalidate>
                    <div class="main-search-block">
                        <div class="col-md-12">
                            <div class="form-floating">
                                {{ form.city }}
                                <label for="suggest">Город или адрес</label>
                                {% if "city" in form.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ form.errors.city }}</strong>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating">
                                {{ form.date }}
                                <label for="dateIn">Дата</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                        <button type="submit" class="btn btn-primary">Найти</button>
                      </div>
                    </div>
                </form>
        </div>
</section>