{% load static %}
<section id="team" class="team bg-grey fix">
    <div class="container">
        <div class="main_team roomy-80">
            <div class="head_title text-center fix">
                <h2 class="text-uppercase">Лучшие арендодатели</h2>
                <h5>Представляем вам 3 арендодателя с наивысшими оценками</h5>
            </div>

            <div id="team-slid" class="carousel slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for landlord, ratings in top_landlords.items %}
                    <li data-target="#team-slid" data-slide-to="{{forloop.counter0}}" class="{% if forloop.counter0 == 0 %}active{% endif %}"></li>
                    {% endfor %}
                </ol>

                <div class="carousel-inner" role="listbox">
                    {% for landlord, ratings in top_landlords.items %}
                    <div class="item {% if forloop.counter0 == 0 %}active{% endif %}">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="team_item team_skill">
                                        <div class="team_author">
                                            <h4><a href="{% url 'user:users' landlord.pk %}">{{landlord.first_name}} {{landlord.last_name}}</a></h4>
                                        </div>

                                        <div class="team_skill_title fix m-top-40 m-bottom-40">
                                            <h5>Рейтинги</h5>
                                        </div>

                                        <div class="skill_bar sm-m-top-50 m-top-20">
                                            {% for rating, evaluation in ratings.items %}
                                            <div class="teamskillbar clearfix m-top-50" data-percent="{{evaluation}}%">
                                                <h6 class="text-uppercase">{{rating.name}}</h6>
                                                <div class="teamskillbar-bar"></div>
                                            </div>
                                            {% endfor %}
                                        </div>

                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="team_item xs-m-top-30">
                                        <div class="port_img">
                                            <img src="{% if landlord.avatar %}
                                            {{ landlord.avatar.url }}
                                            {% else %}
                                            {% static 'userapp/assets/img/profile-img.jpg' %}
                                            {% endif %}" alt="" style="width: 100%;"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="team_item team_content xs-m-top-30">
                                        <h4>{{landlord.about}}</h4>

                                        <div class="divider"></div>

                                        <div class="team_socail">
                                            <h5>Контакты</h5>
                                            <label for="landlord_mail">Почта</label>
                                            <h4 id="landlord_mail">{{landlord.email}}</h4>
                                            <label for="landlord_phone">Телефон</label>
                                            <h4 id="landlord_phone">{{landlord.user_phone}}</h4>
<!--                                            <ul class="list-inline m-top-20">-->

<!--                                                <li><a href=""><i class="fa fa-facebook"></i></a></li>-->
<!--                                                <li><a href=""><i class="fa fa-twitter"></i></a></li>-->
<!--                                                <li><a href=""><i class="fa fa-linkedin"></i></a></li>-->
<!--                                                <li><a href=""><i class="fa fa-google-plus"></i></a></li>-->
<!--                                                <li><a href=""><i class="fa fa-behance"></i></a></li>-->
<!--                                                <li><a href=""><i class="fa fa-dribbble"></i></a></li>-->
<!--                                            </ul>-->
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</section>