{% extends 'userapp/base.html' %}
{% load static %}
   {% block content %}

  <!-- ======= Header ======= -->
  {% include 'userapp/includes/inc_header.html' %}

  <!-- ======= Sidebar ======= -->
  {% include 'adminapp/includes/inc_sidebar.html' %}

  <main id="main" class="main">
        <section class="section dashboard">
              <div class="row">
                <!-- Left side columns -->
                <div class="col-lg-8">
                  <div class="row">
                      {% for room in offers_list %}
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="{% static 'offersapp/assets/img/slides-1.jpg' %}" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="{% static 'offersapp/assets/img/slides-2.jpg' %}" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="{% static 'offersapp/assets/img/slides-3.jpg' %}" class="d-block w-100" alt="...">
                      </div>
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                      data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Назад</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                      data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Вперед</span>
                    </button>

                  </div>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                      <a href="{% url 'admin_staff:pre_moderation_details' room.pk %}">
                          <h5 class="card-title">{{ room.name }}</h5>
                      </a>
                    <p class="card-text">Описание: {{ room.description }}</p>
                    <p class="card-text">Стоимость: {{ room.payment_per_hour }}</p>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
              </div></section>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include 'userapp/includes/inc_footer.html' %}
        {% endblock %}
{% block js %}

  {% include 'userapp/includes/inc_js.html' %}
{% endblock %}