{% load static %}
<div class="dates">
    <label for="start_date">Начало аренды:</label>
    <input type="date" class="form-control" id="start_date" name="start_date">
    <label for="end_date">Конец аренды:</label>
    <input type="date" class="form-control" id="end_date" name="end_date">
</div>
<div class="times hidden">
    <div class="time-container">
        <label for="start_date">Начало дня:</label>
        <input type="text" placeholder="с {{offer.start_working_hours}}" id="start_time" name="start_time" value="{{offer.start_working_hours}}">
    </div>
    <div class="time-container">
        <label for="end_date">Конец дня:</label>
        <input type="text" placeholder="до {{offer.end_working_hours}}" id="end_time" name="end_time" value="{{offer.end_working_hours}}">
    </div>
</div>
<div class="form-peoples">
    <label for="select_seats">Укажите необходимое минимальное кол-во рабочих мест:</label>
    <select class="form-select" aria-label="Default select example" id="select_seats" name="seats">
        {% for seat in seats_number %}
            <option value="{{seat}}">{{seat}}</option>
        {% endfor %}
    </select>
</div>
<p style="margin: 5px; font-size: 1.5rem;">Цена: {{offer.payment_per_hour}} руб/ч</p>

<button type="submit" class="btn btn-primary date-btn">Принять</button>
<p class="form-desc">Выберите необходимые даты и кол-во человек</p>