{% load static %}
<div class="landlord-header">
    <div class="landlord-photo">
        <img src="{% static 'detailsapp/img/messages-3.jpg' %}" alt="" class="rounded-circle">
    </div>
    <div class="landlord-status">
        <h4 class="landlord-name">User name1</h4>
        <div class="status-info">
            <p class="status-name">Some status</p>
            <p class="status-date">Some start date</p>
        </div>
    </div>
    <div class="time-online">
        <p>Last time online</p>
    </div>

</div>
<div class="landlord-content">

    <p class="landlord-info">Some info about landlord. Some info about landlord. Some info about landlord. Some info
        about landlord. Some info about landlord. Some info about landlord. Some info about landlord. Some info about landlord. Some info about landlord. </p>
    <p class="message-time">1 hrs. ago</p>
</div>