{% load static %}
<h4 class="offer-name">{{offer.name}}</h4>
<div class="offer-short-links">
    <div class="short-links-content">
        <p>{{category.name}}</p>
        <p>{{offer_address.street}}</p>
        <p class="desc-header-p">Телефон: {{offer.phone_number}}</p>
<!--        <a href="#view_map">Показать на карте</a>-->
    </div>
    <div class="short-links-func">
        {% if offer.is_active and user.is_authenticated %}
        <a class="favorite" href="{% url 'details:add_favorite' offer.pk %}">
            <div class="heart"></div>
            <p>В избранное</p>
        </a>
        {% endif %}
    </div>

</div>