{% load static %}

<div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true"></button>
    {% for offer_image in offer_images %}
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{forloop.counter}}"></button>
    {% endfor %}
</div>
<div class="carousel-inner">
    <div class="carousel-item active">
        <img src="/media/{{active_img.image}}" class="d-block w-100" alt="...">
    </div>
    {% for offer_image in offer_images %}
    <div class="carousel-item">
        <img src="/media/{{offer_image.image}}" class="d-block w-100" alt="...">
    </div>
    {% endfor %}
</div>

<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
</button>