{% load static %}

<div class="card-body">
    <h5 class="card-title">Список удобств</h5>
    <div class="conveniences">
        <div class="convenience">
            <h5>Тип удобств 1</h5>
            <ul>
                <li><span class="convenience-icon">&#128246;</span>Wi-FI</li>
                <li><span class="convenience-icon">&#9749;</span>Кофе</li>
                <li><span class="convenience-icon">&#128715;</span>Диваны</li>
            </ul>
        </div>
        <div class="convenience">
            <h5>Тип удобств 2</h5>
            <ul>
                <li>dfgdfg</li>
                <li>dfgdfg</li>
                <li>dfgdfg</li>
            </ul>
        </div>
        <div class="convenience">
            <h5>Тип удобств 3</h5>
            <ul>
                <li>dfgdg</li>
                <li>dfgdg</li>
                <li>dfgdg</li>
            </ul>
        </div>

    </div>
</div>