{% load static %}
<div class="landlord-header">
    <div class="landlord-photo">
        <img src="{% if owner.avatar %}
                            {{ owner.avatar.url }}
                            {% else %}
                            {% static 'userapp/assets/img/profile-img.jpg' %}
                            {% endif %}"
             alt="" class="rounded-circle">
    </div>
    <div class="landlord-status">
        <div class="status-header">
            <h4 class="landlord-name"><a href="{% url 'user:users' owner.pk %}">{{owner.first_name}} {{owner.last_name}}</a></h4>
            <div class="landlord-contacts">
                <div class="landlord-mail">
                    <label for="landlord_mail">Почта</label>
                    <p id="landlord_mail">{{owner.email}}</p>
                </div>

                <div class="landlord-phone">
                    <label for="landlord_phone">Телефон</label>
                    <p id="landlord_phone">{{owner.user_phone}}</p>
                </div>


            </div>
        </div>

        <div class="status-info">
            <p class="status-name">{% if owner.is_landlord %}Владелец{% endif %}</p>
            <p class="status-date">На сайте с {{owner.created_at|date:"d.m.Y"}}</p>
        </div>
    </div>

</div>
<div class="landlord-content">
    <p class="landlord-info">{{owner.about}}</p>
</div>