{% load static %}
<div class="rating">
    <div class="rating-header">
        <h3 class="rating-header-elem">Оценка гостей</h3>
        <span class="rating-header-elem">10</span>
    </div>
    <div class="rating-content">
        <div class="rating-row">
            <div class="progress-name">
                <p>some very long name for rating</p>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="50" aria-valuemin="0"
                     aria-valuemax="100">
                </div>
            </div>
            <div class="progress-rating">
                <p>2.5</p>
            </div>
        </div>
        <div class="rating-row">
            <div class="progress-name">
                <p>rating_name</p>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="50" aria-valuemin="0"
                     aria-valuemax="100">
                </div>
            </div>
            <div class="progress-rating">
                <p>2.5</p>
            </div>
        </div>
        <div class="rating-row">
            <div class="progress-name">
                <p>r</p>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="50" aria-valuemin="0"
                     aria-valuemax="100">
                </div>
            </div>
            <div class="progress-rating">
                <p>2.5</p>
            </div>
        </div>


    </div>

</div>
<div class="review">
    <div class="message">
        <div class="user-photo">
            <img src="{% static 'detailsapp/img/messages-1.jpg' %}" alt="" class="rounded-circle">
        </div>
        <div class="message-content">
            <h4 class="message-user">User name1</h4>
            <p class="message-text">Velit asperiores et ducimus soluta repudiandae labore offVelit asperiores et ducimu
                s soluta repudiandae labore offVelit
                asperiores et ducimus soluta repudiandae labore officia est ut...</p>
            <p class="message-time">1 hrs. ago</p>
        </div>

    </div>
    <div class="message">
        <div class="user-photo">
            <img src="{% static 'detailsapp/img/messages-2.jpg' %}" alt="" class="rounded-circle">
        </div>
        <div class="message-content">
            <h4 class="message-user">U</h4>
            <p class="message-text">Vs</p>
            <p class="message-time">1 hrs. ago</p>
        </div>

    </div>
    <div class="message">
        <div class="user-photo">
            <img src="{% static 'detailsapp/img/messages-3.jpg' %}" alt="" class="rounded-circle">
        </div>
        <div class="message-content">
            <h4 class="message-user">User name 3</h4>
            <p class="message-text">Velit asperiores et ducimus soluta repudiandae labore offVelit asperiores et ducimu
                s soluta repudiandae labore offVelit
                asperiores et ducimus soluta repudiandae labore officia est ut...Velit asperiores et ducimus soluta repudiandae labore offVelit asperiores et ducimu
                s soluta repudiandae labore offVelit
                asperiores et ducimus soluta repudiandae labore officia est ut...Velit asperiores et ducimus soluta repudiandae labore offVelit asperiores et ducimu
                s soluta repudiandae labore offVelit
                asperiores et ducimus soluta repudiandae labore officia est ut...</p>
            <p class="message-time">1 hrs. ago</p>
        </div>

    </div>
</div>