{% load static %}
<div class="dates">
    <input type="date" class="form-control">
    <input type="date" class="form-control">
</div>
<div class="form-peoples">
    <select class="form-select" aria-label="Default select example">
        <option selected="">Кол-во людей</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
</div>
<button type="button" class="btn btn-primary date-btn">Принять</button>

<p class="form-desc">Выберите необходимые даты и кол-во человек</p>