{% load static %}
<div class="dates">
    <input type="date" class="form-control">
    <input type="date" class="form-control">
</div>
<div class="form-peoples">
    <select class="form-select" aria-label="Default select example">
        <option selected="">Кол-во людей</option>
        {% for seat in seats_number %}
<!--            <option value="{{ seat }}">{{seat}}</option>-->
        {% endfor %}
    </select>
</div>
<p style="margin: 5px; font-size: 1.5rem;">Цена: {{offer.payment_per_hour}} руб/ч</p>
<button type="button" class="btn btn-primary date-btn">Принять</button>

<p class="form-desc">Выберите необходимые даты и кол-во человек</p>