 {% load static %}
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'user:profile' %}">
          <i class="bi bi-person"></i>
          <span>Профиль</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'user:bookings' %}">
          <i class="bi bi-cart"></i>
          <span>Мои бронирования</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'user:favorites' %}">
          <i class="bi bi-bookmark-heart-fill"></i>
          <span>Избранное</span>
        </a>
      </li><!-- End Contact Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->