{% extends 'userapp/base.html' %}
{% load static %}
   {% block content %}

  <!-- ======= Header ======= -->
  {% include 'userapp/includes/inc_header.html' %}

  <!-- ======= Sidebar ======= -->
  {% include 'feedbackapp/includes/inc_sidebar.html' %}
  <main id="main" class="main">
          <div class="pagetitle">
      <h1>F.A.Q.</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'user:main' %}">Домой</a></li>
          <li class="breadcrumb-item active">F.A.Q.</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
      <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
    <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <span>Основные</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'feedback:question' %}">
              <i class="bi bi-circle"></i><span>Проблемы со входом на сайт</span>
            </a>
          </li>
          <li>
            <a href="{% url 'feedback:question' %}">
              <i class="bi bi-circle"></i><span>Проблемы с регистрацией</span>
            </a>
          </li>
        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-item">
              <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                </i><span>Личный кабинет</span><i class="bi bi-chevron-down ms-auto"></i>
              </a>
              <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                  <a href="{% url 'feedback:question' %}">
                    <i class="bi bi-circle"></i><span>Как изменить информацию о себе</span>
                  </a>
                </li>
                <li>
                  <a href="{% url 'feedback:question' %}">
                    <i class="bi bi-circle"></i><span>Как сменить пароль</span>
                  </a>
                </li>
              </ul>
            </li><!-- End Tables Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          </i><span>Проблемы с заполнением форм</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'feedback:question' %}">
              <i class="bi bi-circle"></i><span>Форма изменения информации пользователя</span>
            </a>
          </li>
          <li>
            <a href="{% url 'feedback:question' %}">
              <i class="bi bi-circle"></i><span>Форма информации о помещении</span>
            </a>
          </li>
        </ul>
      </li><!-- End Forms Nav -->

          </ul>
  </main><!-- End #main -->
  {% include 'userapp/includes/inc_footer.html' %}
        {% endblock %}
{% block js %}

  {% include 'userapp/includes/inc_js.html' %}
{% endblock %}
